<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Produto</title>
</head>
<body>
	<h1 layout:fragment="header">Produto</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Produto gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${produto.id}">123</td>
					<td id="nome" th:text="${produto.nome}">Nome...</td>
					<td id="endereco" th:text="${produto.valor}">Valor...</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a href="form.html" th:href="@{'/produtos/alterar/' + ${produto.id}}">alterar</a>
			| <a href="produtos"
				th:href="@{'/produtos/remover/' + ${produto.id}}">remover</a> | <a
				th:href="@{/produtos/}" href="list.html">voltar</a>
		</div>
	</div>
</body>
</html>