<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table >
  <tr>
    <th>Primeiro Nome</th>
    <th>SobreNome</th>
  </tr>
  <tr th:each="cliente : ${clientes}">
    <td th:text="${cliente.primeiroNome}">Row 1: Col 1</td>
    <td th:text="${cliente.sobrenome}">Row 1: Col 2</td>
  </tr>
</table>

</body>
</html>