<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header">
		Loja <small>Painel de controle</small>
	</h1>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<a th:href="@{/h2-console}" class="btn btn-lg btn-info">H2 Console</a> 
			<a th:href="@{/clientes/}" class="btn btn-lg btn-primary">Clientes</a> 
			<a th:href="@{/produtos}" class="btn btn-lg btn-primary">Produtos</a>
			<a th:href="@{/pedidos/}" class="btn btn-lg btn-primary">Pedidos</a>
			<a th:href="@{/delivery/}" class="btn btn-lg btn-info">Delivery</a>
		</div>
	</div>
</body>
</html>